.text-style {
  font-size: 3rem;
  font-weight: 700;
  width: 100vw;
  color: white;
  text-align: center;
}
.text-section {
  width: 100vw;
  text-align: center;
}
html,body {
  background: black;
}

.center-child {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}